.button-a__link {
    color: var(--white);
    background-color: var(--green);
    padding: 11px 32px 9px 34px;
    border-radius: 4px;
    transition-property: background-color;
    transition-duration: 0.4s;
    border: 0;
    &:hover, &:focus {
        background-color: var(--dark-green);
}
}
