.map-content__text-info {
  display: block;
  position: absolute;
  max-width: 405px;
  top: 40px;
  right: 99px;
  background-color: var(--white);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 35px 0 rgba(159, 185, 197, 0.5);
}
